	<div role="main" class="ui-content">
		<h2><%= I18n.t(:about_title).mb_chars.capitalize%></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat ex in sapien faucibus laoreet et eu elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras et erat posuere, ultrices leo maximus, aliquet odio. Duis pretium neque eget auctor egestas. Phasellus dui ligula, imperdiet sed tincidunt quis, laoreet venenatis lacus. Nulla feugiat bibendum leo at hendrerit. Aenean in neque in enim viverra semper quis eget odio. In lobortis convallis fermentum. Nam in vestibulum leo. In pulvinar tempus dolor non dignissim. Proin euismod vehicula odio, nec porta tellus elementum non. Nam elementum velit a nisl venenatis, id ullamcorper massa consequat. Phasellus id magna eget eros lobortis eleifend.
		</p>
		<p>
		Aliquam pellentesque augue sed justo feugiat, consequat eleifend est varius. Pellentesque cursus purus ut est venenatis lobortis. Nunc diam est, sollicitudin et velit et, cursus egestas nunc. In sit amet dapibus nunc. Maecenas vel magna a eros tempor commodo. Ut ac suscipit tellus. Praesent malesuada est et lectus eleifend suscipit. Curabitur sed laoreet nisl. Mauris vitae convallis tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec gravida sem diam. In blandit, nisl nec vulputate ullamcorper, lorem leo pharetra leo, eu porttitor lacus neque sit amet diam. Donec et justo vel nunc venenatis fermentum sit amet at massa. Quisque nec vulputate leo, ut semper libero. Mauris eget dui lobortis, sagittis est nec, egestas odio.
		</p>
	</div><!-- /content -->

	